{
    "env": {
        "node": true
    },
    "extends": [
        "@nodesecure/eslint-config"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "indent": "off",
        "brace-style": "off",
        "no-empty": ["error", { "allowEmptyCatch": true }],
        "@typescript-eslint/no-unused-vars": [
            "error",
            { "varsIgnorePattern": "^_", "argsIgnorePattern": "^_" }
        ]
    }
}