{
    "env": {
        "node": true
    },
    "extends": [
        "@nodesecure/eslint-config"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "rules": {
        "indent": "off",
        "prettier/prettier": [
            "error",
            {
              "trailingComma": "none",
              "printWidth": 80
            }
          ],
        "implicit-arrow-linebreak": "off",
        "brace-style": "off",
        "@typescript-eslint/no-unused-vars": [
            "error",
            { "varsIgnorePattern": "^_", "argsIgnorePattern": "^_" }
        ]
    }
}